// Espacio del boton de entrar
.infnequip {
    padding-top          :          0;
    padding-bottom       :          0;
    @include from(m){
    padding-top          :          2rem;
    padding-bottom       :          0;
    }
}