.opcionRojo {
    background-color    :           $colorThird; 
}
.opcionVerde {
    background-color    :           $colorQuarter; 
}
.opcionNegro {
    background-color    :           $colorFirst; 
}
.opcionBlanco {
    background-color    :           $colorSecond;
}