html{
	font-family: 'Source Sans Pro', sans-serif;
}
.table{
 width:100%;
 border-spacing:0; 
}
a{
	text-decoration: none;
	color: #d500f9;
}
.title{
	text-transform: uppercase;
}
.paragraph{
	line-height: 1.8em;
	font-weight: 200;
}
.container{
background: #f953c6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.content{
max-width:960px; 
max-height:500px;
width: 100%;
height: 100%;
background-color: white;
}
.red{
    height:200px;
    width:100px;
    background-color:red;
 }
#boton-pago{
  background-color:yellow;
}
.table td, .table th{
	padding: 1em;
	text-align: left;
}

.table tr:nth-child(even){background-color:#f3e5f5;}

.fa-star{
	color:#ffc400;
}



