/* Variables que contiene tamaños de la diferentes fuentes en una sección en específico */
$fslinkmenu             :          1rem;
$fsh1sections           :          2em;
$fs-fsec                :          1rem;