/* Asignando las configuraciones bases para los diferentes tipos de botones que se utilizan */
button, [type="button"], [type="reset"], [type="submit"]
{
	background:    transparent;
	border-color:  transparent;
	cursor:    pointer;
	color:     $colorThird;
}